*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, var(--main-text-font), 'Segoe UI', Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #000;
  text-decoration: none;
  transition: color var(--time) var(--cubic);
}

.link:hover,
.link:focus {
  color: var(--light-text-color);
  outline-offset: 5px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  &-label__wrapp {
    flex-basis: calc((100% / 10) * 4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__label {
    width: 210px;
    height: 210px;
  }

  &__title {
    font-size: 30px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 12px;
      font-size: 70px;
    }
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1110px;
  }
}

.container__info {
  position: relative;
  border-radius: 0 220px 0 0;

  @media screen and (min-width: 1200px) {
    padding-top: 90px;
    padding-bottom: 40px;
    // flex-basis: calc(((100% - 15px) / 10) * 6);
    padding-bottom: 74px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 15px;
    height: 100%;
    background-color: inherit;

    @media screen and (min-width: 1200px) {
      left: -50px;
      width: 55px;
    }
  }
}

.container__discription {
  @media screen and (min-width: 768px) {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & p {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-top: 15;
      margin-bottom: 15px;
      font-size: 17px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 30;
      margin-bottom: 30px;
      font-size: 19px;
    }
  }
}

.container__btn {
  width: 260px;
  height: 30px;
}

.container__aside {
  flex-basis: calc((100% / 10) * 4);
}

.container__image-wrapp {
  display: none;

  @media screen and (min-width: 768px) {
    flex-basis: 40%;
    display: flex;
    // justify-content: center; //dependent from animation
    padding-left: 20px; //dependent from animation
    position: relative;
  }
}

.container__picture {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 250px;
  }

  @media screen and (min-width: 1200px) {
    width: 450px;
  }
}

.container__img {
  position: relative;
  z-index: 100;
}
