:root {
  --main-text-color: #000;
  --light-text-color: #fff;
  --main-bg-color: #f68e57;
  --secondary-bg-color: #f5afb9;
  --main-text-font: Roboto;
  --time: 250ms;
  --cubic: linear;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, var(--main-text-font), "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #000;
  text-decoration: none;
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}

.link:hover,
.link:focus {
  color: var(--light-text-color);
}

.btn {
  padding-left: 42px;
  padding-right: 42px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 40px;
  border: none;
  color: #fff;
  background-color: var(--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-label__wrapp {
  -ms-flex-preferred-size: calc((100% / 10) * 4);
      flex-basis: calc((100% / 10) * 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__label {
  width: 210px;
  height: 210px;
}

.section__title {
  font-size: 85px;
  line-height: 1.1;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  background-color: #befd93;
}

.container__info {
  position: relative;
  -ms-flex-preferred-size: calc(((100% - 15px) / 10) * 6);
      flex-basis: calc(((100% - 15px) / 10) * 6);
  padding-top: 90px;
  padding-bottom: 74px;
  border-radius: 0 220px 0 0;
}

.container__info::before {
  content: '';
  position: absolute;
  top: 0;
  z-index: 0;
  left: -120px;
  width: 120px;
  height: 100%;
  background-color: inherit;
}

.container__aside {
  -ms-flex-preferred-size: calc((100% / 10) * 4);
      flex-basis: calc((100% / 10) * 4);
}

.container__discription {
  -ms-flex-preferred-size: calc((100% / 10) * 4 - 80px);
      flex-basis: calc((100% / 10) * 4 - 80px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__discription .btn {
  width: 260px;
  height: 24px;
}

.container__image-wrapp {
  position: relative;
}

.logo {
  display: block;
  margin-left: 96px;
  margin-right: 175px;
}

.logo .icon {
  width: 121px;
  height: 161px;
}

.description-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-card__content {
  -ms-flex-preferred-size: 234px;
      flex-basis: 234px;
  margin-right: 47px;
}

.description-card .description-card__title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.2;
}

.description-card .description-card__price {
  display: block;
  margin-top: 20px;
  margin-bottom: 46px;
  text-transform: uppercase;
}

.description-card .description-card__img-wrapp {
  width: 350px;
  height: 433px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 175px;
}

.page-header {
  position: relative;
}

.page-header p {
  margin-bottom: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--main-text-color);
}

.page-header .link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.page-header .lang {
  margin-left: 162px;
}

.header-content-wrapper {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 165px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 31px;
  background-color: transparent;
}

.page-nav,
.page-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-nav__item:not(:last-child) {
  margin-right: 42px;
}

.auth-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-wrapp a:not(:last-child) {
  margin-right: 42px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
  padding-top: 120px;
  background-color: var(--main-bg-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/hero/hero.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero@2x.jpg);
  }
}

.hero__title {
  font-size: 85px;
  font-weight: 400;
  line-height: 93px;
  text-align: center;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.goods {
  background-color: var(--main-bg-color);
}

.goods__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.goods__content {
  -ms-flex-preferred-size: 506px;
      flex-basis: 506px;
}

.about {
  background-color: var(--main-bg-color);
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image-wrapp::before {
  content: '';
  width: 540px;
  height: 657px;
  position: absolute;
  top: 0;
  left: 13px;
  z-index: 0;
  background-color: #b0897e;
  -webkit-transform: rotate(347deg);
          transform: rotate(347deg);
}

.about__image-wrapp::after {
  content: '';
  width: 540px;
  height: 657px;
  position: absolute;
  top: 0;
  right: -65px;
  z-index: 0;
  background-color: #d16142;
  -webkit-transform: rotate(-347deg);
          transform: rotate(-347deg);
}

.about__image-wrapp {
  padding-left: 104px;
}

.about__img {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
}

.nuts {
  background-color: var(--main-bg-color);
  padding-bottom: 0;
}

.nuts .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nuts__content {
  background-color: #be5a4b;
}

.nuts__content .section__title {
  margin-bottom: 44px;
}

.nuts__content .description-card__img-wrapp {
  background-color: #a5483d;
}

.nuts__btn {
  width: 187px;
  height: 30px;
}

.nuts__list-wrapp {
  padding-left: 103px;
}

.nuts__list-wrapp p {
  width: 255px;
  margin-top: 88px;
  margin-bottom: 90px;
  font-size: 21px;
  line-height: 1.5;
  text-transform: uppercase;
}

.nuts__list-item {
  position: relative;
  width: 255px;
  border-bottom: 1px solid #000;
}

.nuts__list-item:not(:last-child) {
  margin-bottom: 42px;
}

.nuts__list-btn {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.26;
  border: none;
  background-color: transparent;
}

.nuts__list-quantity {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 0px;
}

.from-us {
  background-color: #f5afb9;
}

.from-us .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.from-us__list-title {
  width: calc((100% / 10) * 1);
  margin-bottom: 85px;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.from-us__theme-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.from-us__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% / 10) * 3);
      flex-basis: calc((100% / 10) * 3);
  text-align: center;
}

.from-us__item::before {
  content: '';
  position: absolute;
  top: -134px;
  left: 0;
  width: 100%;
  height: 110px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-image: url(../images/icons/lips.svg);
}

.from-us__item-title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.store {
  background-color: #f5afb9;
  position: relative;
  padding-top: 251px;
}

.store::before {
  content: '';
  position: absolute;
  top: 4%;
  left: 19%;
  z-index: 10;
  width: 282px;
  height: 282px;
  background-repeat: no-repeat;
  background-image: url(../images/icons/store-lable.svg);
}

.store p {
  margin-bottom: 47px;
}

.store__img-wrapp {
  padding-left: 253px;
}

.store__img-wrapp::before {
  content: '';
  width: 540px;
  height: 657px;
  position: absolute;
  top: -46px;
  left: 100px;
  z-index: 2;
  background-color: #b0897e;
  -webkit-transform: rotate(349deg);
          transform: rotate(349deg);
}

.store__img-wrapp::after {
  content: '';
  width: 540px;
  height: 657px;
  position: absolute;
  top: -61px;
  right: -65px;
  z-index: 1;
  background-color: #d16142;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
}

.halva {
  background-color: #f5afb9;
  padding-bottom: 0;
}

.halva .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.halva__content {
  background-color: #abafd6;
}

.halva .section__title {
  margin-bottom: 48px;
}

.halva .description-card__title {
  margin-bottom: 62px;
}

.halva__btn {
  width: 295px;
  height: 30px;
}

.halva__aside-wrapp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 58px;
  padding-right: 58px;
  padding-bottom: 55px;
  background-color: #ec4844;
}

.halva__aside-wrapp::before {
  content: '';
  position: absolute;
  top: 65px;
  left: 149px;
  width: 147px;
  height: 327px;
  background-repeat: no-repeat;
  background-image: url(../images/icons/postcard.svg);
}

.halva__aside-wrapp p {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
}

.halva__aside-btn {
  width: 297px;
  height: 64px;
}

.treasures {
  position: relative;
  padding-top: 251px;
  background-color: #f5afb9;
}

.treasures::before {
  content: '';
  position: absolute;
  top: 4%;
  left: 19%;
  z-index: 10;
  width: 282px;
  height: 282px;
  background-repeat: no-repeat;
  background-image: url(../images/icons/treasure-lable.svg);
}

.treasures__img-wrapp {
  padding-left: 204px;
}

.treasures__img-wrapp::before {
  content: '';
  width: 540px;
  height: 657px;
  position: absolute;
  top: -46px;
  left: 100px;
  z-index: 2;
  background-color: #b0897e;
  -webkit-transform: rotate(349deg);
          transform: rotate(349deg);
}

.treasures__img-wrapp::after {
  content: '';
  width: 540px;
  height: 657px;
  position: absolute;
  top: -61px;
  right: -65px;
  z-index: 1;
  background-color: #d16142;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
}

.ricepes {
  background-color: #f5afb9;
}

.ricepes .container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #fff;
}

.ricepes__content {
  -ms-flex-preferred-size: calc((100% / 10) * 5);
      flex-basis: calc((100% / 10) * 5);
  margin-right: calc((100% / 10) * 1);
}
/*# sourceMappingURL=main.css.map */