:root {
  --main-text-color: #000;
  --light-text-color: #fff;
  --main-bg-color: #f68e57;
  --secondary-bg-color: #f5afb9;

  --main-text-font: Roboto;
  --time: 250ms;
  --cubic: linear;
}

$colors: (
  'green': #72a080,
  'broun': #a95d50,
  'blue': #abafd6,
  'yellow': #fecf6b,
);
