<section class="section about" id="about">
  <div class="container">
    <div class="container__discription">
      <h2 class="section__title">Our <br> wild way</h2>
      <p>
        Our philosophy is present in every stage of our production. We are endeavoring to contribute to the creation of a
        better
        world.
      </p>
      <div class="container__btn button-container">
        <span class="mas">Discover more!</span>
        <button class="content-button" id='work' type="button" name="Hover">Discover more!</button>
      </div>
    </div>

    <div class="container__image-wrapp">
      <picture class="container__picture">
        <source srcset="./images/about/tap/tap.webp 1x, ./images/about/tap/tap@2x.webp 2x">
        <source srcset="./images/about/tap/tap.jpg 1x, ./images/about/tap/tap@2x.jpg 2x">
        <img class="container__img img" loading="lazy" src="./images/about/tap/tap.jpg" alt="faucet from which water flows">
      </picture>
    </div>
  </div>
</section>