<div class="backdrop is-hidden">
  <button  class="backdrop__close-btn" type="button" aria-label="close button">
    <svg class="icon">
      <use href="./images/icons/sprite.svg#icon-menu-close"></use>
    </svg>
  </button>
  <div class="form-wrapp">
    <h2 class="form-title">Log in</h2>
    <form class="registration-form" action="">      
      <div class="registration-form__field">
        <input class="registration-form__input" id="login" type="text" name="login" autocomplete="off">
        <label class="registration-form__lable" for="login">Login</label>
      </div>

      <div class="registration-form__field">
        <input class="registration-form__input" id="password" type="password" name="password" autocomplete="off">
        <label class="registration-form__lable" for="password">Password</label>
      </div>
      <button class="registration-form__button" type="btn">Log in</button>
      <p>or <br><a class="link" href="">Sign in</a></p>
    </form>
  </div>
  
</div>