<section class="from-us section">
  <div class="container">
    <h2 class="section__title visually-hidden">From us</h2>
    
    <h3 class="from-us__list-title">
      Words from the soul!
    </h3>

    <ul class="from-us__theme-list list">
      <li class="from-us__item">
        <h3 class="from-us__item-title">Popangada</h3>
        <p>
          A different shop in the center of Athens grinds fruit, offers butter made from just one ingredient, and halva flavors
          that confirm that healthy can be delicious.
      </p>
      </li>
      
      <li class="from-us__item">
        <h3 class="from-us__item-title">Athens voice</h3>
        <p>
          Wild Souls works mainly with sesame and nut products (pistachio, hazelnut, almond, cashews), creating hellish spreads
          that you want to swallow with the jar.
        </p>
      </li>
    </ul>
  </div>
</section>