<section class="goods section" id="goods">
  <div class="container">

    <div class="goods__header">
      <div class="section-label__wrapp">
        <img class="section__label img" loading="lazy" src="./images/icons/goods-lable.svg" alt="">
      </div>

      <div class="goods__content">
        <h2 class="section__title">Wildly loved</h2>
        <p>
          You will find our wild products in their simplest form. No additives or anything else can spoil their nature
        </p>
      </div>
    </div>
  </div>

    <ul class="list goods__slider goods-list-js">
      <li class="goods__slide">
        <div class="goods__image-wrapp">
          <picture>
            <source srcset="./images/goods/first/peanut.webp 1x, ./images/goods/first/peanut@2x.webp 2x">
            <source srcset="./images/goods/first/peanut.png 1x, ./images/goods/first/peanut@2x.png 2x"> 
            <img loading="lazy" srcset="" src="./images/goods/first/peanut.png" alt="Peanut Butter">
          </picture>
        </div>
        <div class="goods__slide-content">
          <h3 class="goods__slide-title">The Wild Peanut Butter</h3>
          <p>&#8364;<span class="price-js">4.90</span></p>
          <button class="goods__slide-btn" type="button">Buy now!</button>
        </div>
      </li>      

      <li class="goods__slide">
        <div class="goods__image-wrapp">
          <picture>
            <source srcset="./images/goods/second/cocoa.webp 1x, ./images/goods/second/cocoa@2x.webp 2x">
            <source srcset="./images/goods/second/cocoa.png 1x, ./images/goods/second/cocoa@2x.png 2x">
            <img loading="lazy" src="./images/goods/second/cocoa.png" alt="Tahini with Cocoa & Honey">
          </picture>
        </div>
        <div class="goods__slide-content">
          <h3 class="goods__slide-title">Tahini with Cocoa & Honey</h3>
          <p>&#8364;<span class="price-js">5.90</span></p>
          <button class="goods__slide-btn" type="button">Buy now!</button>
        </div>
        
      </li>

      <li class="goods__slide">
        <div class="goods__image-wrapp">
          <picture>
            <source srcset="./images/goods/third/huzelnut.webp 1x, ./images/goods/third/huzelnut@2x.webp 2x">
            <source srcset="./images/goods/third/huzelnut.png 1x, ./images/goods/third/huzelnut@2x.png 2x">
            <img loading="lazy" src="./images/goods/third/huzelnut.png" alt="">
          </picture>
        </div>
        <div class="goods__slide-content">
          <h3 class="goods__slide-title">The Wild Hazelnut Butter</h3>
          <p>&#8364;<span class="price-js">6.90</span></p>
          <button class="goods__slide-btn" type="button">Buy now!</button>
        </div>
      </li>

      <li class="goods__slide">
        <div class="goods__image-wrapp">
          <picture>
            <source srcset="./images/goods/second/cocoa.webp 1x, ./images/goods/second/cocoa@2x.webp 2x">
            <source srcset="./images/goods/second/cocoa.png 1x, ./images/goods/second/cocoa@2x.png 2x">
            <img loading="lazy" src="./images/goods/second/cocoa.png" alt="Tahini with Cocoa & Honey">
          </picture>
        </div>

        <div class="goods__slide-content">
          <h3 loading="lazy" class="goods__slide-title">The Wild Tahini</h3>
          <p>&#8364;<span class="price-js">4.90</span></p>
          <button class="goods__slide-btn" type="button">Buy now!</button>
        </div>
      </li> 
    </ul>
</section>