<section class="halva section">
  <div class="container">

    <div class="halva__content container__info">
      <h2 class="section__title">Wild Halva</h2>

      <div class="description-card"> 
        <div class=" description-content"> 
          <h3 class="description-card__title">A magical seed..</h3>
          <p>
          All the treasures are hidden in a chest. Respectively, our treasures are enclosed in their Wild shell.
            <span class="description-card__price">500G | from 8,90€</span>
          </p>
          <div class="halva__btn button-container">
            <span class="mas">Discover them now!</span>
            <button class="content-button" id='work' type="button" name="Hover">Discover them now!</button>
          </div>
          <!-- <button class="halva__btn btn" type="btn">Discover them now!</button> -->
        </div>

        <div class="description-card__img-wrapp">
          <img loading="lazy" src="./images/halva/halva.png" alt="almond" />
        </div>
      </div>
    </div>

    <div class="halva__aside-wrapp container__aside">
      <p>
        Spread your Love with a Wild Gift!
      </p>

      <div class="halva__aside-btn button-container">
        <span class="mas">Discover them now!</span>
        <button class="content-button" id='work' type="submit" name="Hover">Discover them now!</button>
      </div>
      <!-- <button class="halva__aside-btn btn" type="submit">Discover them now!</button> -->
      
    </div>
  </div>
</section>