<section class="halva section">
  <div class="container">

    <div class="halva__content container__info">
      <h2 class="section__title">Wild Halva</h2>

      <div class="description-card"> 
        <div class=" description-content"> 
          <h3 class="description-card__title">A magical seed..</h3>
          <p>
          All the treasures are hidden in a chest. Respectively, our treasures are enclosed in their Wild shell.
            <span class="description-card__price">500G | from 8,90€</span>
          </p>
          <button class="halva__btn btn" type="btn">Discover them now!</button>
        </div>

        <div class="description-card__img-wrapp">
          <img src="./images/halva/halva.png" alt="almond" />
        </div>
      </div>
    </div>

    <div class="halva__aside-wrapp container__aside">
      <p>
        Spread your Love with a Wild Gift!
      </p>

      <button class="halva__aside-btn btn" type="submit">Discover them now!</button>
      
    </div>
  </div>
</section>