<header class="page-header">
  <p>Free shipping in Greece for Wild orders over 50 euros!</p>
  <div class="header-content-wrapper container">

    <button id="menu-btn-js" class="menu-btn" aria-label="open menu button">
      <svg class="icon">
        <use href="./images/icons/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <a href="" class="logo logo--mobile"> <!--logo--mobile?-->
      <svg class="icon">
        <use href="./images/icons/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <!-- mobile menu -->
    <div class="page-header__mobile-menu-wrapper is-hidden" id="mobile-menu-js">
      <div class="mobile-menu ">
        <button id="close-menu-btn-js" class="close-menu-btn" aria-label="close menu button">
          <svg class="icon">
            <use href="./images/icons/sprite.svg#icon-menu-close"></use>
          </svg>
        </button>
        
        <nav class="mobile-nav">
          <ul class="mobile-nav__list list">
            <li class="mobile-nav__item"><a class="page-header__mobile-link link" href="#goods">Products</a></li>
            <li class="mobile-nav__item"><a class="page-header__mobile-link link" href="#about">Who we are</a></li>
            <li class="mobile-nav__item"><a class="page-header__mobile-link link" href="#store">Concept Store</a></li>
          </ul>
        </nav>
        
        <div class="mobile-auth-wrapp">
          <button class="page-header__mobile-link auth-btn mobile-menu__login-btn-js" type="button">Log In</button>
          <button class="page-header__mobile-link auth-btn mobile-menu__cart-btn-js" type="button">Cart</button>
        </div>
      </div>
    </div>
    <!-- mobile menu -->

    <nav class="page-nav">
      <ul class="page-nav__list list">
        <li class="page-nav__item"><a class="link" href="#goods">Products</a></li>
        <li class="page-nav__item"><a class="link" href="#about">Who we are</a></li>
        <li class="page-nav__item"><a class="link" href="#store">Concept Store</a></li>
      </ul>
      <a href="" class="logo">
        <svg class="icon">
          <use href="./images/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </nav>
    
    <div class="auth-wrapp">
      <button class="auth-btn login-btn-js" type="button" >Log In</button>
      <button class="auth-btn cart-btn-js" type="button">Cart</button>
    </div>
  </div>
</header>