<header class="page-header">
  <p>Free shipping in Greece for Wild orders over 50 euros!</p>
  <div class="header-content-wrapper container">
    <nav class="page-nav">
      <ul class="page-nav__list list">
        <li class="page-nav__item"><a class="link" href="#goods">Products</a></li>
        <li class="page-nav__item"><a class="link" href="#philosophi">Who we are</a></li>
        <li class="page-nav__item"><a class="link" href="#store">Concept Store</a></li>
      </ul>
      <a href="" class="logo">
        <svg class="icon">
          <use href="./images/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </nav>
    
    <div class="auth-wrapp">
      <a class="link" href="#recipes">Recipes</a>
      <a class="link" href="">Log In</a>
      <a class="link" href="">Cart</a>
    </div>
  </div>
  <span class="lang">EN</span>
</header>