<section class="nuts section">
  <div class="container">

    <div class="nuts__content container__info"> 
      <h2 class="section__title">Wild like a Nut??</h2>

      <div id="description-card-js" class="description-card"> 
        <div class="description-card__content">
          <h3 class="description-card__title">Roasted Almond</h3>
          <p>
            All the treasures are hidden in a chest. Respectively, our treasures are enclosed in
            their Wild shell.
            <span class="description-card__price">250G | <span id="price-js">5,00€</span></span>
          </p>

          <div class="nuts__btn button-container">
            <span class="mas">Taste it!</span>
            <button class="content-button" type="button">Taste it!</button>
          </div>
        </div>

        <div class="description-card__img-wrapp">
          <img loading="lazy" src="https://down.imgspng.com/download/0720/almond_PNG57.png" alt="almond" />
        </div>
      </div>
    </div>

    <div class="nuts__list-wrapp container__aside">
      <p>Discover our products throught the 5 treasures of nature!</p>

      <ul id="nuts-list-js" class="nuts__list list">
        <li class="nuts__list-item">
          <button class="nuts__list-btn" href="">Sesame</button>
          <sup class="nuts__list-quantity">20</sup>
        </li>

        <li class="nuts__list-item">
          <button class="nuts__list-btn" href="">Peanut</button>
          <sup class="nuts__list-quantity">5</sup>
        </li>

        <li class="nuts__list-item">
          <button class="nuts__list-btn" href="">Almond</button>
          <sup class="nuts__list-quantity">9</sup>
        </li>

        <li class="nuts__list-item">
          <button class="nuts__list-btn" href="">Hazelnut</button>
          <sup class="nuts__list-quantity">5</sup>
        </li>

        <li class="nuts__list-item">
          <button class="nuts__list-btn" href="">Cashew</button>
          <sup class="nuts__list-quantity">4</sup>
        </li>
      </ul>
    </div>
  </div>
</section>
