<section class="ricepes section" id="ricepes">
  <div class="container">
    <div class="ricepes__content">
      <h2 class="section__title">Wild Recipes</h2>
      <p>
        You will find our wild products in their simplest form. No additives or anything else can spoil their nature
      </p>
    </div>
  </div>
  
  <ul class="slider list">
    <li class="slider__slide">
      <div>
        <picture>
          <source srcset="./images/recipes/coleslaw/coleslaw.webp 1x, ./images/recipes/coleslaw/coleslaw@2x.webp 2x">
          <source srcset="./images/recipes/coleslaw/coleslaw.jpg 1x, ./images/recipes/coleslaw/coleslaw@2x.jpg 2x">
          <img class="img" loading="lazy" src="./images/recipes/coleslaw/coleslaw.jpg">
        </picture>
      </div>
      <p>salty</p>
      <h3 class="slider__slide-title">Coleslaw with High Fibre Tahini</h3>
    </li>

    <li class="slider__slide">
      <div>
        <picture>
          <source srcset="./images/recipes/humus/wild-humus.webp 1x, ./images/recipes/humus/wild-humus@2x.webp 2x">
          <source srcset="./images/recipes/humus/wild-humus.jpg 1x, ./images/recipes/humus/wild-humus@2x.jpg 2x">
          <img class="img" loading="lazy" src="./images/recipes/humus/wild-humus.jpg">
        </picture>
      </div>
      <p>salty</p>
      <h3 class="slider__slide-title">Wild Hummus</h3>
    </li>

    <li class="slider__slide">
      <div>
        <picture>
          <source srcset="./images/recipes/granola/granola.jpg 1x, ./images/recipes/granola/granola@2x.jpg 2x">
          <source srcset="./images/recipes/granola/granola.jpg 1x, ./images/recipes/granola/granola@2x.jpg 2x">
          <img class="img" loading="lazy" src="./images/recipes/granola/granola.jpg">
        </picture>
      </div>
      <p>sweet</p>
      <h3 class="slider__slide-title">Wild 6 Ingredient Granola</h3>
    </li>
    
     <li class="slider__slide">
      <div>
        <picture>
          <source srcset="./images/recipes/coleslaw/coleslaw.webp 1x, ./images/recipes/coleslaw/coleslaw@2x.webp 2x">
          <source srcset="./images/recipes/coleslaw/coleslaw.jpg 1x, ./images/recipes/coleslaw/coleslaw@2x.jpg 2x">
          <img class="img" loading="lazy" src="./images/recipes/coleslaw/coleslaw.jpg">
        </picture>
      </div>
      <p>salty</p>
      <h3 class="slider__slide-title">Coleslaw with High Fibre Tahini</h3>
    </li>
    
    <li class="slider__slide">
      <div>
        <picture>
          <source srcset="./images/recipes/humus/wild-humus.webp 1x, ./images/recipes/humus/wild-humus@2x.webp 2x">
          <source srcset="./images/recipes/humus/wild-humus.jpg 1x, ./images/recipes/humus/wild-humus@2x.jpg 2x">
          <img class="img" loading="lazy" src="./images/recipes/humus/wild-humus.jpg">
        </picture>
      </div>
      <p>salty</p>
      <h3 class="slider__slide-title">Wild Hummus</h3>
    </li>
    
    <li class="slider__slide">
      <div>
        <picture>
          <source srcset="./images/recipes/granola/granola.webp 1x, ./images/recipes/granola/granola@2x.webp 2x">
          <source srcset="./images/recipes/granola/granola.jpg 1x, ./images/recipes/granola/granola@2x.jpg 2x">
          <img class="img" loading="lazy" src="./images/recipes/granola/granola.jpg">
        </picture>
      </div>
      <p>sweet</p>
      <h3 class="slider__slide-title">Wild 6 Ingredient Granola</h3>
    </li>
    
  </ul>
</section>