<section class="ricepes section" id="ricepes">
  <div class="container">
    <div class="ricepes__content">
      <h2 class="section__title">Wild Recipes</h2>
      <p>
        You will find our wild products in their simplest form. No additives or anything else can spoil their nature
      </p>
    </div>
  </div>
  
  <ul class="slider list">
    <li class="slider__slide">
      <div>
        <img class="img" src="./images/recipes/coleslaw/coleslaw.jpg">
      </div>
      <p>salty</p>
      <h3 class="slider__slide-title">Coleslaw with High Fibre Tahini</h3>
    </li>

    <li class="slider__slide">
      <div>
        <img class="img" src="./images/recipes/humus/wild-humus.jpg">
      </div>
      <p>salty</p>
      <h3 class="slider__slide-title">Wild Hummus</h3>
    </li>

    <li class="slider__slide">
      <div>
        <img class="img" src="./images/recipes/granola/granola.jpg">
      </div>
      <p>sweet</p>
      <h3 class="slider__slide-title">Wild 6 Ingredient Granola</h3>
    </li>
    
     <li class="slider__slide">
      <div>
        <img class="img" src="./images/recipes/coleslaw/coleslaw.jpg">
      </div>
      <p>salty</p>
      <h3 class="slider__slide-title">Coleslaw with High Fibre Tahini</h3>
    </li>
    
    <li class="slider__slide">
      <div>
        <img class="img" src="./images/recipes/humus/wild-humus.jpg">
      </div>
      <p>salty</p>
      <h3 class="slider__slide-title">Wild Hummus</h3>
    </li>
    
    <li class="slider__slide">
      <div>
        <img class="img" src="./images/recipes/granola/granola.jpg">
      </div>
      <p>sweet</p>
      <h3 class="slider__slide-title">Wild 6 Ingredient Granola</h3>
    </li>
    
  </ul>
</section>