<section class="store section">
  <div class="container">
    <div class="store__content container__discription">
      <h2 class="section__title">The Concept Store</h2>
      <p>
        We invite you to explore it, live it, and take photographs of it. But be careful, it is very addictive!
      </p>
      <a class="link btn" href="">Discover more!</a>
    </div>

    <div class="store__img-wrapp container__image-wrapp">
      <img class="about__img img" src="./images/store/hall/store.jpg" alt="faucet from which water flows">
    </div>
  </div>
</section>