<section class="treasures section">
  <div class="container">
    <div class="treasures__content container__discription">
      <h2 class="section__title">The Five Treasures</h2>
      <p>
        We invite you to explore it, live it, and take photographs of it. But be careful, it is very addictive!
        Let’s see what happens by eating these WILD treasures.
      </p>

      <div class="treasures__btn button-container">
        <span class="mas">Discover more!</span>
        <a class="treasures__btn-link content-button link" href="" id='work' name="Hover">Discover more!</a>
      </div>
    </div>

    <div class="treasures__img-wrapp container__image-wrapp">
      <img class="treasures__img img" loading="lazy" src="./images/treasures/treasures.jpg" alt="faucet from which water flows">
    </div>
  </div>
</section>