@-webkit-keyframes right-spin {
  from {
    transform: translateX(0) rotate(0);
  }

  to {
    transform: translateX(-98px) rotate(-15deg);
  }
}

@keyframes right-spin {
  from {
    transform: translateX(0) rotate(0);
  }

  to {
    transform: translateX(-98px) rotate(-15deg);
  }
}

@-webkit-keyframes left-spin {
  from {
    transform: translate(0) rotate(0);
  }

  to {
    transform: translate(100px, -20px) rotate(15deg);
  }
}

@keyframes left-spin {
  from {
    transform: translate(0) rotate(0);
  }

  to {
    transform: translate(100px, -20px) rotate(15deg);
  }
}
