.cart {
  position: absolute;
  z-index: 50;
  top: 3rem;
  right: 0;
  width: 100%;
  min-height: 300px;
  padding: 50px 5px;
  border: 15px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  background-color: #f3fa8f;
  background-clip: padding-box;
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms linear, transform 250ms linear;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.6);
  }

  @media screen and (min-width: 768px) {
    top: 4rem;
    right: 2rem;
    width: 600px;
    min-height: 200px;
    padding: 15px;
  }
}

.cart__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.493);
  cursor: pointer;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #fff;
  }

  & .icon {
    width: 30px;
    height: 30px;
  }
}
.increment,
.decrement {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(44, 12, 12, 0.377);
  cursor: pointer;
}
