.description-card {
  display: flex;

  &__content {
    flex-basis: 234px;
    margin-right: 47px;
  }

  .description-card__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2;
  }

  .description-card__price {
    display: block;
    margin-top: 20px;
    margin-bottom: 46px;
    text-transform: uppercase;
  }

  .description-card__img-wrapp {
    width: 350px;
    height: 433px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 175px;
  }
}
