.description-card {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  &__content {
    @media screen and (min-width: 768px) {
      flex-basis: 50%;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: 234px;
      margin-right: 47px;
    }
  }

  .description-card__title {
    line-height: 1.2;
    font-size: 25px;

    @media screen and (min-width: 1200px) {
      font-size: 42px;
      margin-bottom: 20px;
    }
  }

  .description-card__price {
    display: block;
    margin-top: 20px;
    margin-bottom: 46px;
    text-transform: uppercase;
  }

  .description-card__img-wrapp {
    display: none;

    @media screen and (min-width: 768px) {
      flex-basis: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      overflow: hidden;
    }

    @media screen and (min-width: 1200px) {
      width: 350px;
      height: 433px;
      border-radius: 175px;
    }
  }
}
