.page-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.page-nav__list {
  display: flex;
  flex-basis: 50%;
}

.page-nav__item {
  & .link {
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 42px;
    }
  }
}
