.about {
  background-color: var(--main-bg-color);

  & .container {
    display: flex;
  }
}

.about__image-wrapp {
  &::before {
    content: '';
    width: 540px;
    height: 657px;
    position: absolute;
    top: 0;
    left: 13px;
    z-index: 0;
    background-color: #b0897e;
    transform: rotate(347deg);
    // background-image: url();
  }

  &::after {
    content: '';
    width: 540px;
    height: 657px;
    position: absolute;
    top: 0;
    right: -65px;
    z-index: 0;
    background-color: #d16142;
    transform: rotate(-347deg);
    // background-image: url();
  }
}

.about__image-wrapp {
  padding-left: 104px;
}

.about__img {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
}
