.about {
  background-color: var(--main-bg-color);

  & .container {
    display: flex;
  }
}

.about__image-wrapp {
  &::before {
    content: '';
    width: 540px;
    height: 657px;
    position: absolute;
    top: 0;
    left: 105px;
    z-index: 0;
    background-color: #b0897e;
    // background-image: url();
    -webkit-animation-name: right-spin;
    animation-name: right-spin;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &::after {
    content: '';
    width: 540px;
    height: 657px;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 0;
    background-color: #d16142;
    // background-image: url();
    // transform: translateX(0);
    -webkit-animation-name: left-spin;
    animation-name: left-spin;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

.about__image-wrapp {
  padding-left: 104px;
}

.about__img {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
}

@-webkit-keyframes right-spin {
  from {
    transform: translateX(0) rotate(0);
  }

  to {
    transform: translateX(-98px) rotate(-15deg);
  }
}

@keyframes right-spin {
  from {
    transform: translateX(0) rotate(0);
  }

  to {
    transform: translateX(-98px) rotate(-15deg);
  }
}

@-webkit-keyframes left-spin {
  from {
    transform: translateX(0) rotate(0);
  }

  to {
    transform: translateX(150px) rotate(20deg);
  }
}

@keyframes left-spin {
  from {
    transform: translateX(0) rotate(0);
  }

  to {
    transform: translateX(150px) rotate(20deg);
  }
}
