.goods {
  background-color: var(--main-bg-color);

  & .container {
    margin-bottom: 75px;
  }
}

.goods__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.goods__content {
  flex-basis: 506px;
}

.goods__slider {
  .slick-track {
    height: 750px;
    justify-content: space-between;
  }
}

.goods__slide {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  transition: transform 250ms linear;

  &.slick-slide {
    width: 360px !important;
  }

  &:nth-child(2n - 1) {
    transform: translateY(148px);
  }
}

.goods__image-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 526px;
  border-radius: 275px;
  background-color: rgb(52, 196, 160);
}
.goods__slide-title {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 10px;
}

.goods__slide-content {
  position: absolute;
  top: 55%;
  left: 0;

  & p {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.5;
  }
}

.goods__slide-btn {
  width: 182px;
  height: 47px;
  border: none;
  border-radius: 37px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
