.goods {
  background-color: var(--main-bg-color);
}

.goods__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.goods__content {
  flex-basis: 506px;
  // flex-basis: calc((100% / 10) * 5);
}
