.halva {
  background-color: #f5afb9;
  padding-bottom: 0;

  & .container {
    justify-content: space-between;
  }

  &__content {
    background-color: #abafd6;
  }

  & .section__title {
    text-align: left;
    margin-bottom: 44px;
  }
}

.halva__btn {
  width: 260px;

  & .mas {
    top: 8%;
  }

  &-link {
    display: block;
    line-height: 1.8;
  }
}

.halva__aside-wrapp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: #ec4844;

  @media screen and (max-width: 767.98px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: 38%;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 55px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/icons/postcard.svg);

    @media screen and (min-width: 768px) {
      top: 45px;
      width: 50px;
      height: 150px;
    }

    @media screen and (min-width: 1200px) {
      top: 20px;
      width: 147px;
      height: 300px;
    }
  }

  & p {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 42px;
    }
  }
}

.halva__aside-btn {
  width: 250px;
  height: 40px;

  & .mas {
    top: 22%;
  }

  @media screen and (min-width: 1200px) {
    width: 297px;
    height: 64px;

    & .mas {
      top: 29%;
    }
  }
}
