.halva {
  background-color: #f5afb9;
  padding-bottom: 0;

  & .container {
    justify-content: space-between;
  }

  &__content {
    padding-top: 60px;
    padding-left: 10px;
    padding-bottom: 40px;
    text-align: left;
    background-color: #abafd6;

    @media screen and (min-width: 768px) {
      flex-basis: 60%;
      padding-left: 20px;
    }
  }

  & .section__title {
    text-align: left;
    margin-bottom: 44px;
  }

  // & .description-card__title {
  //   margin-bottom: 62px;
  // }
}

.halva__btn {
  width: 260px;

  & .mas {
    top: 8%;
  }

  &-link {
    display: block;
    line-height: 1.8;
  }
}

.halva__aside-wrapp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: #ec4844;

  @media screen and (min-width: 768px) {
    flex-basis: 38%;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 55px;
  }

  &::before {
    @media screen and (min-width: 768px) {
      content: '';
      position: absolute;
      top: 45px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/icons/postcard.svg);
    }

    @media screen and (min-width: 1200px) {
      top: 25px;
      width: 147px;
      height: 327px;
    }
  }

  & p {
    font-weight: bold;
    font-size: 42px;
    line-height: 1.2;
    text-align: center;
  }
}

.halva__aside-btn {
  width: 250px;
  height: 40px;

  & .mas {
    top: 22%;
  }

  @media screen and (min-width: 1200px) {
    width: 297px;
    height: 64px;

    & .mas {
      top: 29%;
    }
  }
}
