.page-header {
  position: relative;

  & p {
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    color: var(--light-text-color);
    background-color: var(--main-text-color);
  }

  & .link {
    text-transform: uppercase;
    line-height: 24px;
  }

  .lang {
    position: absolute;
    top: 75px;
    right: 62px;
  }
}

.header-content-wrapper {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 31px;
  background-color: transparent;
}

.page-nav,
.page-nav__list {
  display: flex;
}

.page-nav__item {
  & .link {
    line-height: 1.6;
    text-transform: uppercase;
  }

  &:not(:last-child) {
    margin-right: 42px;
  }
}

.auth-wrapp {
  display: flex;

  & a,
  & .auth-btn:not(:last-child) {
    margin-right: 42px;
  }
}

.auth-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: #fff;
  }
}
