.page-header {
  position: relative;

  & p {
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    color: var(--light-text-color);
    background-color: var(--main-text-color);
  }

  & .link {
    text-transform: uppercase;
    line-height: 24px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 400px;
    background-color: var(--main-bg-color);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/hero/hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero@2x.jpg);
    }

    @media screen and (min-width: 768px) {
      height: 600px;
      background-size: 100% 100%;
    }

    @media screen and (min-width: 1200px) {
      height: 800px;
    }
  }
}

.header-content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: start;
    max-width: 90%;
    padding-top: 31px;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

.page-header__mobile-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  opacity: 1;
  height: 100vh;
  padding-top: 50px;
  overflow-y: scroll;
  background-color: rgba(171, 175, 214, 0.9);

  &.is-hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
