.page-header {
  position: relative;

  & p {
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    color: var(--light-text-color);
    background-color: var(--main-text-color);
  }

  & .link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
  }

  .lang {
    margin-left: 162px;
  }
}

.header-content-wrapper {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
  display: flex;
  margin-left: 165px;
  align-items: flex-start;
  padding-top: 31px;
  background-color: transparent;
}

.page-nav,
.page-nav__list {
  display: flex;
}

.page-nav__item {
  &:not(:last-child) {
    margin-right: 42px;
  }
}

.auth-wrapp {
  display: flex;

  & a:not(:last-child) {
    margin-right: 42px;
  }
}
