.nuts {
  & .container {
    @media screen and (min-width: 768px) {
      // display: flex;
      // justify-content: space-between;
    }
  }
}

.nuts__content {
  background-color: #be5a4b;

  @media screen and (min-width: 768px) {
    flex-basis: 60%;
    padding-left: 20px;
  }

  & .section__title {
    margin-bottom: 44px;
  }

  & .description-card__img-wrapp {
    background-color: #a5483d;
  }
}

.nuts__btn {
  width: 187px;
  height: 30px;

  & .mas {
    top: 8%;
  }
}

.nuts__list-wrapp {
  margin-top: 20px;

  & p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 103px;

    & p {
      width: 255px;
      margin-top: 88px;
      margin-bottom: 90px;
      font-weight: normal;
    }
  }
}

.nuts__list {
  &-item {
    position: relative;
    width: 255px;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 767.98px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 42px;
  }

  &-btn {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.26;
    border: none;
    cursor: pointer;
    background-color: transparent;

    @media screen and (min-width: 1200px) {
      font-size: 40px;
    }
  }

  &-quantity {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 0px;
  }
}
