.ricepes {
  background-color: #f5afb9;

  & .container {
    justify-content: flex-end;
    margin-bottom: 100px;
  }
}

.ricepes__content {
  flex-basis: calc((100% / 10) * 5);
  margin-right: calc((100% / 10) * 1);
}

.slick-track {
  height: 735px;
}

.slider__slide {
  width: 450px !important;
  height: 650px;
  margin-left: 40px;
  margin-right: 40px;
  transition: transform 250ms linear;

  & p {
    margin-top: 43px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &-title {
    font-size: 42px;
    line-height: 1.2;
  }
}

.slick-current {
  transform: translateY(60px);
}

// .slick-center {
//   border: 2px solid red;
// }
