.ricepes {
  background-color: #f5afb9;

  & .container {
    justify-content: flex-end;
    margin-bottom: 100px;
  }
}

.ricepes__content {
  flex-basis: calc((100% / 10) * 5);
  margin-right: calc((100% / 10) * 1);
}
.ricepes .slick-list {
  padding: 0 0 !important;
}

.ricepes .slick-track {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 700px;
}

.ricepes .slider__slide {
  width: 400px !important;
  height: 600px;
  transition: transform 250ms linear;

  & p {
    margin-top: 43px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &-title {
    font-size: 42px;
    line-height: 1.2;
  }
}

.ricepes .slick-current {
  transform: translateY(60px);
}
