.store {
  background-color: #f5afb9;
  position: relative;
  padding-top: 251px;

  &::before {
    content: '';
    position: absolute;
    top: 4%;
    left: 19%;
    z-index: 10;
    width: 282px;
    height: 282px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/store-lable.svg);
  }

  & p {
    margin-bottom: 47px;
  }
}

.store__img-wrapp {
  padding-left: 253px;

  &::before {
    content: '';
    width: 540px;
    height: 657px;
    position: absolute;
    top: -46px;
    left: 100px;
    z-index: 2;
    background-color: #b0897e;
    transform: rotate(349deg);
    // background-image: url();
  }

  &::after {
    content: '';
    width: 540px;
    height: 657px;
    position: absolute;
    top: -61px;
    right: -65px;
    z-index: 1;
    background-color: #d16142;
    transform: rotate(11deg);
    // background-image: url();
  }
}
