.store {
  background-color: #f5afb9;
  position: relative;
  padding-top: 251px;

  &::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 9%;
    z-index: 10;
    width: 282px;
    height: 282px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/store-lable.svg);
  }

  & p {
    margin-bottom: 47px;
  }
}

.store__img-wrapp {
  padding-left: 160px;

  &::before {
    content: '';
    width: 486px;
    height: 612px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: #b0897e;
    // background-image: url();
    -webkit-animation-name: right-spin;
    animation-name: right-spin;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &::after {
    content: '';
    width: 486px;
    height: 612px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #d16142;
    background-image: url();
    -webkit-animation-name: left-spin;
    animation-name: left-spin;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-delay: 6000ms;
    animation-delay: 6000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

.store__btn {
  width: 260px;
  height: 30px;
}

.store__btn-link {
  display: block;
  line-height: 1.8;

  & .mas {
    top: 0;
  }
}
