.treasures {
  position: relative;
  padding-top: 251px;
  background-color: #f5afb9;

  &::before {
    content: '';
    position: absolute;
    top: 4%;
    left: 19%;
    z-index: 10;
    width: 282px;
    height: 282px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/treasure-lable.svg);
  }
}

.treasures__img-wrapp {
  padding-left: 204px;

  &::before {
    content: '';
    width: 486px;
    height: 561px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: #b0897e;
    // background-image: url();
    -webkit-animation-name: right-spin;
    animation-name: right-spin;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &::after {
    content: '';
    width: 486px;
    height: 561px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #d16142;
    // background-image: url();
    -webkit-animation-name: left-spin;
    animation-name: left-spin;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}
